# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# env 
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

# IDEs
.vscode

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
